body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(57, 57, 57);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h3{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 4px;
}

h5 {
  padding: .5rem 0;
  margin: .5rem 0;
}

.weather-container {
  display: flex;
  flex-direction: column;;
}


.city-select {
  width: 28rem;
  margin: 2rem auto;
}

.city-select h3 {
  margin-bottom: .5rem;
}

select  {
  width: 100%;
  padding: .25rem;
  border: none;
  border-bottom: 1px solid gray;
  font-weight: 100;
}

.current-weather {
  width: 30rem;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
}

.current-temp {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.forcast {
  /* border: solid purple; */
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 auto;
}

.daily-weather {
  /* width: 14%; */
  padding: 1rem;
  margin: .5rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  border-radius: 2px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row p {
  font-size: 1rem;
}

.high {
  color: orangered;
}

.low {
  color: rgb(35, 180, 242);
}

.hour-forcast {
  width: 28rem;
  margin: 2rem auto;
}

.hour-forcast p {
  padding: .25rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.unit-section {
  width: 28rem;
  margin: 0 auto;
}

.unit-button {
  padding: .5rem 1.5rem;
  margin: .25rem;
  background-color: transparent;
  border: 1px solid rgb(57,57,57);
  color: black;
  text-transform: uppercase;
  border-radius: 15px;
  transition: .25s;
}

.unit-button:hover {
  cursor: pointer;
  background-color: rgb(57,57,57);
  color: white;
}